.coin-app {
  margin-top: 64px;
  align-items: center;
}
.coin-app .coin-search {
  margin-bottom: 64px;
  text-align: center;
}
.coin-app .coin-search .coin-text {
  margin-bottom: 32px;
}
.coin-app .coin-search .coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #e7ebf0;
}
.coin-app .key {
  width: 900px;
  align-items: center;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
}
.coin-app .key .key-name {
  padding-left: 5px;
  width: 185px;
}
.coin-app .key .key-symbol {
  width: 165px;
}
.coin-app .key .key-price {
  width: 100px;
}
.coin-app .key .key-volume {
  width: 150px;
}
.coin-app .key .key-change {
  width: 175px;
}
.coin-app .coin-container {
  justify-content: center;
  color: black;
}
.coin-app .coin-container .coin-row {
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid black;
  width: 900px;
}
.coin-app .coin-container .coin-row .coin-info {
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}
.coin-app .coin-container .coin-row .coin-info .coin-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.coin-app .coin-container .coin-row .coin-info .coin-name {
  font-size: 16px;
  width: 150px;
}
.coin-app .coin-container .coin-row .coin-info .coin-symbol {
  text-transform: uppercase;
}
.coin-app .coin-container .coin-row .coin-data {
  text-align: right;
  justify-content: space-between;
  width: 100%;
}
.coin-app .coin-container .coin-row .coin-data .coin-price {
  width: 110px;
}
.coin-app .coin-container .coin-row .coin-data .coin-volume {
  width: 155px;
}
.coin-app .coin-container .coin-row .coin-data .coin-marketcap {
  width: 230px;
}
.coin-app .coin-container .coin-row .coin-data .coin-percent {
  width: 100px;
}
.coin-app .coin-container .coin-row .coin-data .red {
  color: #f00606;
}
.coin-app .coin-container .coin-row .coin-data .green {
  color: #11d811;
}
